[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-nachrichten
Exec=harbour-nachrichten
Name=Nachrichten
Name[de]=Nachrichten
